@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bus Ticketing App</h1>
    <p>Book Your Tickets.Have a Happy and Safe Journey!!</p>
    @if (TempData.ContainsKey("username"))
    {
        <div class="alert alert-success">
            Welcome @TempData["username"]
        </div>
    }
</div>